.contactContainer{
    width: 100%;
    min-height: calc(100vh - 70px);
    @include flexColumn();
    background-color: $main;
    color: white;
    h1{
        margin-bottom: 20px;
    }
    .mContainer{
        @include flexCenter();
        width: 100%;
        min-height: calc(100vh - 150px);
        .right{
            width: 50%;
            min-height: calc(100vh - 150px);
            position: relative;
        }
        .left{
            width: 50%;
            min-height: calc(100vh - 150px);
            @include flexColumn();
            justify-content: center;
            padding: 20px 50px;
        }
    }
}
.btn{
    @include btn();
    width: 100%;
    margin-top: 15px;
}
form{
    padding: 30px;
    border-radius: 10px;
    // border: 1px solid $blue;
    background-color: #05264C;
    input{
        padding: 10px;
        margin: 10px 0;
        border-radius: 5px;
        border: 1px solid grey;
        outline: none;
        width: 100% !important;
    }
}

.formInput{
    display: flex;
    flex-direction: column;
    width: 280px;
    span{
        font-size: 12px;
        padding: 3px;
        color: red;
        display: none;
    }
}
label{
    font-size: 1.1rem;
    color: white;
}
//if input is invalid and not focused then show error
input:invalid[focused="true"] ~ span {
    display: block;
}
input:invalid[focused="true"]{
    border: 1px solid red;
}

@media (max-width: 800px){
    form{
        padding: 30px 20px;
        border-radius: 10px;
        width: 80%;
        .formInput{
            width: 100%;
            input{
                width: 100% !important;
            }
        }
       
    }
}

@media (max-width: 800px){
    .contactContainer{
        overflow: hidden;
        .mContainer{
            @include flexColumn();
            .right{
                width: 100%;
                min-height: calc((100vh - 70px) / 2);

            }
            .left{
                width: 100%;
                min-height: fit-content;
            }
        }
    }
}