.cvContainer {
    width: 100%;
    min-height: calc(100vh - 70px);
    padding: 20px;
    @include flexColumn();
    background-color: $nicewhite;
    .btnsContainer {
        @include flexCenter();
        margin-bottom: 20px;
        .downloadBtn {
            @include btn();
            text-decoration: none;
            text-align: center;
            font-weight: normal;
            font-size: 1.2rem;
        }
        .language {
            @include btn();
            outline: none;
            font-size: 1.2rem;
            font-weight: normal;
            margin-right: 20px;
        }
    }
    .imgContainer {
        width: 100%;
        height: 150vh;
        @include flexCenter();
        position: relative;
    }
}

@media (max-width: 800px) {
    .cvContainer{
        height: calc(100vh - 70px);
        .imgContainer{
            height: 90%;
        }
    }
}
