.cvContainer {
    width: 100%;
    height: calc(100vh - 70px);
    @include flexCenter();
    .left {
        width: 70%;
        height: calc(100vh - 70px);
        @include flexColumn();
        justify-content: center;
        .imgContainer {
            width: 70%;
            height: 90%;
            @include flexCenter();
            position: relative;
        }
     
        .mobileBtn{
            display: none;
        }
        .language{
            display: none;
        }
    }
}
.right {
    width: 30%;
    min-height: calc(100vh - 70px);
    @include flexColumn();
    justify-content: center;    
    padding: 50px 20px;
    justify-content: space-between;
    .btnr {
        @include btn();
        margin-top: 20px;
        text-decoration: none;
        width: 100%;
        font-weight: normal;
        text-align: center

    }
    .language{
        @include btn();
        outline: none;
        font-size: 1.2rem;
        font-weight: normal;
        width: 100%;

    }
}

@media (max-width: 800px) {
    .cvContainer {
        flex-direction: column;
        .left {
            width: 100%;
            .imgContainer {
                width: 90%;
                height: 70%;
            }
            .mobileBtn{
                @include btn();
                display: block;
                margin-top: 20px;
                width: 90%;
                text-decoration: none;
                text-align: center;
                font-weight: normal;
            }
            .language{
                display: block;
                @include btn();
                width: 90%;
                margin-bottom: 20px;
                outline: none;
                font-size: 1.2rem;
                font-weight: normal;
            }
        }
        .right {
            display: none;
        }
    }
}

option{
    padding: 20px;
}