.projectsContainer{
    width: 100%;
    min-height: calc(100vh - 70px);
    @include flexColumn();
    align-items: center;
    justify-content: center;
    .title{
        margin-bottom: 20px;
    }
    .myProjectsContainer{
        width: 100%;
        height: auto;
        @include flexCenter();
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .projectContainer{
        width: 300px;
        min-height: auto;
        margin: 20px;
        @include flexColumn();
        transition: .4s ease-in-out all;
        &:hover{
            transform: scale(1.1);
        }
        .imgContainer{
            width: 100%;
            height: 160px;
            border-radius: 15px;
            border: 1px solid $blue;
            position: relative;
            overflow: hidden;
            @include flexCenter();
            cursor: pointer;
            margin-bottom: 10px;
        }
        .infoContainer{
            width: 100%;
            height: auto;
            @include flexColumn();    
            .info{
                font-weight: 500;
            }     
        }
    }
}