.skillsContainer{
    width: 100%;
    min-height: calc(100vh - 70px);
    padding: 50px 50px !important;
    overflow: hidden;
    @include flexCenter();
    background-color: $nicewhite;

    justify-content: flex-start;
    flex-direction: column;
    .skills{
        width: 90%;
        flex-wrap: wrap;
        @include flexStart();
        .skillContainer{
            width: 100px;
            height: 100px;
            margin: 20px;
            border-radius: 50%;
            background: white;
            border: 3px solid $blue;
            @include flexCenter();
            cursor: pointer;
            position: relative;
            &:hover .tooltiptext{
                visibility: visible;
                opacity: 1;
            }
            .tooltiptext {
                visibility: hidden;
                width: 120px;
                background-color: #555;
                color: #fff;
                text-align: center;
                border-radius: 6px;
                padding: 5px 0;
                position: absolute;
                z-index: 1;
                bottom: 100%;
                left: 50%;
                margin-left: -60px;
                opacity: 0;
                transition: opacity 0.3s;
                &::after {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    margin-left: -5px;
                    border-width: 5px;
                    border-style: solid;
                    border-color: #555 transparent transparent transparent;
                  }
                  
              }
        }
    }
}