@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.navbar {
  width: 100%;
  height: 70px;
  background: #02162e;
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2222 !important;
}

.navbar button {
  background: #0d6efd;
  border: none;
  border-radius: 5px;
  padding: 12px 18px;
  width: auto;
  font-weight: 700;
  color: white;
  border: 1px solid #0d6efd;
  cursor: pointer;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.navbar button:hover {
  background: transparent;
  color: #0d6efd;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.navbar .logoContainer {
  width: 120px;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  cursor: pointer;
}

.navbar .linksContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .linksContainer a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  margin-right: 20px;
  cursor: pointer;
}

.navbar .linksContainer a:hover {
  color: #0d6efd;
}

.navbar .linksContainer a:last-child {
  margin-right: 0;
}

.btn a {
  color: inherit;
  font-size: inherit;
}

.mobileMenuButton {
  width: 40px;
  height: 40px;
  display: none;
  cursor: pointer;
}

.mobileMenuButton .line {
  width: 100%;
  height: 5px;
  background: #0d6efd;
  position: relative;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.mobileMenuButton .line.active {
  background: transparent;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.mobileMenuButton .line::after, .mobileMenuButton .line::before {
  content: "";
  width: 100%;
  height: 5px;
  background: #0d6efd;
  position: absolute;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.mobileMenuButton .line::after {
  top: 15px;
}

.mobileMenuButton .line::before {
  bottom: 15px;
}

.mobileMenuButton .line.active::after {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.mobileMenuButton .line.active::before {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  bottom: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.mobileMenuContainer {
  width: 90%;
  height: calc(100vh - 70px);
  position: fixed !important;
  top: 70px;
  right: 0;
  overflow: hidden;
  visibility: hidden;
}

.mobileMenu {
  width: 100%;
  height: 100%;
  visibility: visible;
  position: absolute !important;
  background: #0d6efd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2222 !important;
  top: 0;
  right: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  -webkit-transform: translate(101%);
          transform: translate(101%);
}

.mobileMenu.active {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  -webkit-transform: translate(0%);
          transform: translate(0%);
}

.mobileMenu a {
  font-size: 2rem;
  color: white;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.mobileMenu a:hover {
  color: black;
}

.mobileMenu a:last-child {
  margin-bottom: 0;
}

@media (max-width: 1000px) {
  .navbar {
    padding: 0 20px;
  }
}

@media (max-width: 800px) {
  .navbar {
    padding: 0 20px;
  }
  .navbar .linksContainer {
    display: none;
  }
  .navbar ul {
    display: none;
  }
  .navbar button {
    display: none;
  }
  .mobileMenuButton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mobileMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.mainContainer {
  width: 100%;
  min-height: calc(100vh - 70px);
  background: #02162e;
  overflow: hidden !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainContainer .left {
  width: 40%;
  min-height: calc(100vh - 70px);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
}

.mainContainer .left .header {
  margin-bottom: 10px;
  font-size: 3rem;
  font-weight: 700;
  color: white;
}

.mainContainer .left .header .orangeHeader {
  font-size: 3rem;
  font-weight: 700;
  color: #0d6efd;
  margin-bottom: 20px;
}

.mainContainer .left .text {
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 50px;
  font-size: 1.5rem;
  color: #2e2e2f;
}

.mainContainer .left .icon {
  margin-right: 20px;
  font-size: 25px;
  cursor: pointer;
  color: white;
}

.mainContainer .left .socialsContainer {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainContainer .left .btnsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  margin: 30px 0 !important;
}

.mainContainer .left .btnsContainer .btn1 {
  background: #0d6efd;
  border: none;
  border-radius: 5px;
  padding: 12px 18px;
  width: auto;
  font-weight: 700;
  color: white;
  border: 1px solid #0d6efd;
  cursor: pointer;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainContainer .left .btnsContainer .btn1:hover {
  background: transparent;
  color: #0d6efd;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.mainContainer .left .btnsContainer .btn2 {
  background: #0d6efd;
  border: none;
  border-radius: 5px;
  padding: 12px 18px;
  width: auto;
  font-weight: 700;
  color: white;
  border: 1px solid #0d6efd;
  cursor: pointer;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  font-size: 1.1rem;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainContainer .left .btnsContainer .btn2:hover {
  background: transparent;
  color: #0d6efd;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.mainContainer .right {
  width: 60%;
  height: calc(100vh - 70px);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainContainer .right img {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.icon1:hover {
  color: #0d6efd !important;
}

.icon2:hover {
  color: #6610f2 !important;
}

.icon3:hover {
  color: #0d6efd !important;
}

.icon4:hover {
  color: #20c997 !important;
}

.icon5:hover {
  color: #0d6efd !important;
}

@media (max-width: 1000px) {
  .left {
    padding: 0 20px !important;
  }
}

@media (max-width: 800px) {
  .mainContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .mainContainer .left {
    padding: 10px 20px;
    width: 100%;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
  .mainContainer .left h1 {
    margin-bottom: 5px;
    font-size: 2.5rem;
  }
  .mainContainer .left h1 span {
    font-size: 2.5rem;
  }
  .mainContainer .left span {
    margin-bottom: 10px;
  }
  .mainContainer .left button {
    width: 100%;
  }
  .mainContainer .left .socialsContainer {
    width: 100%;
  }
  .mainContainer .left .btnsContainer {
    width: 100%;
  }
  .mainContainer .left .btnsContainer .btn1 {
    width: 100%;
  }
  .mainContainer .left .btnsContainer .btn2 {
    width: 100%;
  }
  .mainContainer .left .icon {
    font-size: 35px;
  }
  .mainContainer .right {
    padding: 10px 20px;
    width: 100%;
    height: calc((100vh - 70px) / 2);
  }
}

.projectsContainer {
  width: 100%;
  min-height: calc(100vh - 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #02162e;
  color: white;
}

.projectsContainer .title {
  margin-bottom: 20px;
}

.projectsContainer .myProjectsContainer {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projectsContainer .projectContainer {
  width: 300px;
  min-height: auto;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: .4s ease-in-out all;
  transition: .4s ease-in-out all;
}

.projectsContainer .projectContainer:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.projectsContainer .projectContainer .imgContainer {
  width: 100%;
  height: 160px;
  border-radius: 15px;
  border: 2px solid #0d6efd;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin-bottom: 10px;
}

.projectsContainer .projectContainer .infoContainer {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projectsContainer .projectContainer .infoContainer .title {
  margin-bottom: 5px;
}

.projectsContainer .projectContainer .infoContainer .info {
  font-weight: 500;
}

.skillsContainer {
  width: 100%;
  min-height: calc(100vh - 70px);
  padding: 50px 50px !important;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #02162e;
  color: white;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skillsContainer .skills {
  width: 90%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skillsContainer .skills .skillContainer {
  width: 100px;
  height: 100px;
  margin: 20px;
  border-radius: 50%;
  border: 3px solid #0d6efd;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  position: relative;
}

.skillsContainer .skills .skillContainer:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.skillsContainer .skills .skillContainer .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.skillsContainer .skills .skillContainer .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.aboutContainer {
  width: 100%;
  min-height: calc(100vh - 70px);
  background-color: #02162e;
  color: white;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutContainer .miniContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.aboutContainer .miniContainer .left {
  width: 50%;
  min-height: calc(100vh - 70px);
  position: relative;
}

.aboutContainer .miniContainer .right {
  width: 50%;
  min-height: calc(100vh - 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 50px;
}

.aboutContainer .miniContainer .right span {
  font-size: 1.5rem;
  display: block;
}

@media (max-width: 800px) {
  .aboutContainer .miniContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutContainer .miniContainer .left {
    width: 100%;
    min-height: calc((100vh - 70px) / 2);
  }
  .aboutContainer .miniContainer .right {
    width: 100%;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
}

.contactContainer {
  width: 100%;
  min-height: calc(100vh - 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #02162e;
  color: white;
}

.contactContainer h1 {
  margin-bottom: 20px;
}

.contactContainer .mContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: calc(100vh - 150px);
}

.contactContainer .mContainer .right {
  width: 50%;
  min-height: calc(100vh - 150px);
  position: relative;
}

.contactContainer .mContainer .left {
  width: 50%;
  min-height: calc(100vh - 150px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 50px;
}

.btn {
  background: #0d6efd;
  border: none;
  border-radius: 5px;
  padding: 12px 18px;
  width: auto;
  font-weight: 700;
  color: white;
  border: 1px solid #0d6efd;
  cursor: pointer;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  width: 100%;
  margin-top: 15px;
}

.btn:hover {
  background: transparent;
  color: #0d6efd;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

form {
  padding: 30px;
  border-radius: 10px;
  background-color: #05264C;
}

form input {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid grey;
  outline: none;
  width: 100% !important;
}

.formInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 280px;
}

.formInput span {
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;
}

label {
  font-size: 1.1rem;
  color: white;
}

input:invalid[focused="true"] ~ span {
  display: block;
}

input:invalid[focused="true"] {
  border: 1px solid red;
}

@media (max-width: 800px) {
  form {
    padding: 30px 20px;
    border-radius: 10px;
    width: 80%;
  }
  form .formInput {
    width: 100%;
  }
  form .formInput input {
    width: 100% !important;
  }
}

@media (max-width: 800px) {
  .contactContainer {
    overflow: hidden;
  }
  .contactContainer .mContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactContainer .mContainer .right {
    width: 100%;
    min-height: calc((100vh - 70px) / 2);
  }
  .contactContainer .mContainer .left {
    width: 100%;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
}

.cvContainer {
  width: 100%;
  min-height: calc(100vh - 70px);
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #02162e;
}

.cvContainer .btnsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.cvContainer .btnsContainer .downloadBtn {
  background: #0d6efd;
  border: none;
  border-radius: 5px;
  padding: 12px 18px;
  width: auto;
  font-weight: 700;
  color: white;
  border: 1px solid #0d6efd;
  cursor: pointer;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  text-decoration: none;
  text-align: center;
  font-weight: normal;
  font-size: 1.2rem;
}

.cvContainer .btnsContainer .downloadBtn:hover {
  background: transparent;
  color: #0d6efd;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.cvContainer .btnsContainer .language {
  background: #0d6efd;
  border: none;
  border-radius: 5px;
  padding: 12px 18px;
  width: auto;
  font-weight: 700;
  color: white;
  border: 1px solid #0d6efd;
  cursor: pointer;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  outline: none;
  font-size: 1.2rem;
  font-weight: normal;
  margin-right: 20px;
}

.cvContainer .btnsContainer .language:hover {
  background: transparent;
  color: #0d6efd;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.cvContainer .imgContainer {
  width: 100%;
  height: 150vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

@media (max-width: 800px) {
  .cvContainer {
    height: calc(100vh - 70px);
  }
  .cvContainer .imgContainer {
    height: 90%;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Poppins;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*# sourceMappingURL=GlobalStyle.css.map */